.git
.next
node_modules
**/node_modules
.env
.env.local
.env.*.local
*.log
.DS_Store
.vscode
.idea
fixtures
public/gtfs
public/gtfs.zip
server/node_modules
server/.env*
supabase/.branches
supabase/.temp
docs/*.pdf
